<div class="container">
	<h1>Registro de Heroes</h1>
	<input type="text" [(ngModel)]="textoInput" [(ngModel)]="heroeIngresado" />
	<button #miBoton *ngIf="showButtonSave" (click)="addHero()">Guardar</button>

	<!-- 	<ul>
		<li *ngFor="let hero of miArrayHeroes; trackBy: trackByHero">{{ hero.name }}</li>
	</ul> -->
	<button (click)="modify()">Modificar</button>
	<table>
		<tr>
			<td>#</td>
			<td>Heroe</td>
			<td>Indice</td>
			<td>Acción</td>
		</tr>
		<tr *ngFor="let hero of miArrayHeroes; let i = index; trackByHero">
			<td>{{ hero.id }}</td>
			<td>{{ hero.name }}</td>
			<td>{{ i }}</td>
			<td>
				<button onclick="updateHero(hero)">Seleccionar</button>
			</td>
		</tr>
	</table>
	<div [ngSwitch]="heroeSeleccionado.id" *ngIf="showButtonSave">
		<h3 *ngSwitchCase="3">Este Heroe es el mas Coll</h3>
	</div>
	<label for="" *ngIf="showButtonSave; else template">Demostracion Template </label>
	<ng-template #template>
		<h4>Hola soy un template</h4>
	</ng-template>
</div>
<br />
